.container {
    display: flex; /* Use flexbox to create a flexible layout */
    align-items: center; /* Center items vertically within the container */
    background-color:#bfc8ac86;
    margin:10px;
    border-radius:25px;
  }
  
  .container img {
    max-width: 100%; /* Ensure the image does not exceed the container width */
    margin-right: 10px; /* Add some spacing between the image and text */
    border-radius: 25px;
  }
  
  .container .text {
    flex-grow: 1; /* Allow the text to grow and take up the remaining space */
    text-align:center;
  }
  
  .container1 {
    display: flex; /* Use flexbox to create a flexible layout */
    align-items: center; /* Center items vertically within the container */
    background-color:#bfc8ac86;
    margin:10px;
    border-radius:25px;
  }
  
  .container1 img {
    max-width: 100%; /* Ensure the image does not exceed the container width */
    margin-right: 10px; /* Add some spacing between the image and text */
    border-radius: 25px;
  }
  
  .container1 .text1 {
    flex-grow: 1; /* Allow the text to grow and take up the remaining space */
    text-align:center;
  }

  .container2{
    border-radius: 25px;
    background-color:#bfc8ac86;
    margin:10px;
    display:flex;
    align-items:center;
  }
  .container2 img{
    display:inline-block;
    border-radius: 25px;
    margin-right:10px;
  }
  .container .text2 {
    flex-grow:1;
    text-align:center;
  }
  h1 {
    text-align:center;
    border-radius:25px;
    background-color:#bfc8ac86;
    padding:15px;
    margin-bottom:0px;
  }

  button{
    padding:20px;
    border-radius:25px;
    background-color:#bfc8ac86;
    color:rgba(16, 21, 17, 0.793);
    margin-left:600px;
  }
  button:hover{
    cursor:pointer;
  }
  button:active{
    background-color:rgb(25, 215, 85);
  }