.container {
    display: grid;
    grid-template-rows: 400px 400px 400px;
    grid-template-columns: 400px 400px 400px;
}

body {
  display: flex;
  justify-content: center;
}
.item {
  background: #444;
  border: 1px solid #555;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #AAA;
  margin:10px;
}
h1{
    background-color:#bfc8;
    border-radius:15px;
    padding:20px;
}